.brand {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  flex-wrap: wrap;
  background-color: rgb(16, 25, 20);
  margin-bottom: -1rem;
}

.brand div {
  margin-top: -1rem;
}

@media (min-width: 47em) {
  .brand {
    column-gap: 3rem;
  }
}
