.craft {
  display: flex;
  padding: 1rem 2rem;
  background: #f1f1f1;
  margin: 0 2rem;
  gap: 1rem;
  color: var(--secondary-text);
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
}

.craft__icon {
  margin-top: 0.3rem;
}

@media (min-width: 45rem) {
  .craft {
    font-size: 1.4rem;
  }
}
