.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.features h1 {
  text-align: center;
  font-size: 2rem;
  padding-top: 2rem;
}

.features__discover {
  color: var(--primary-text);
  font-size: 1.2rem;
  text-align: center;
  padding: 0.8rem 0;
}

.features__feature {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  margin: 4rem 0;
}

@media (min-width: 60rem) {
  .features h1 {
    font-size: 2.5rem;
    max-width: 40rem;
  }
  .features__feature {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

  .features__discover {
    max-width: 50rem;
  }
}
