.card {
  background: #ffffff;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  width: 100%;
  color: var(--secondary-text);
  cursor: pointer;
}

.card__heading {
  font-size: 1.2rem;
  font-weight: 600;
}

.card__text {
  font-size: 0.8rem;
}

.card__icon {
  font-size: 2rem;
}
