* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

div {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gradient__bg {
  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 3% 50%,
    rgba(110, 160, 136, 1) 4%,
    rgba(52, 103, 89, 1) 45%,
    rgba(31, 64, 55, 1) 100%
  );
}

.section__padding {
  padding: 3rem 5rem;
}

.section__margin {
  padding: 3rem 5rem;
}

@media (max-width: 50rem) {
  .section__padding {
    padding: 2rem;
  }

  .section__margin {
    padding: 2rem;
  }
}

@media (max-width: 30rem) {
  .section__padding {
    padding: 2rem 1rem;
  }

  .section__margin {
    padding: 2rem 1rem;
  }
}
